.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;

    .close{
        display: flex;
        justify-content: flex-end;
        border: none;
        outline: none;
        background:none;

        :hover{
            cursor: pointer;
        }
    }

    h2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    mat-dialog-content{
        display: flex;
        flex-direction: column;
        margin: 30px 0px;

        form{
            display: flex;
            flex-direction: column;

            textarea{
                height: 25px;
            }
        }
        
        
    }

    mat-dialog-actions{
        display: flex;
        align-items: center;
        justify-content: space-around;

        
        .mat-raised-button{
            width: 150px;
            background: #54595f;
            color: white;
        }
    }
}

